.home {
    padding: 20px;
    min-width: 600px;
}


.containerCard {
  padding: 16px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.card {
    width: 17vw;
    margin: 12px;
    min-width: 200px;
}

.cardHeader {
    padding: 16px;
    font-weight: 600;
}

.cardBody {
    padding: 0 0 16px 16px;
}